.rotating-images-wrapper {
    display: flex;
    clear: both;
}

.rotating-image-container {
    position:relative;
    min-width: 200px;
    min-height: 200px;
}
.rotating-img {
    width: 100px;
    height: 200px;
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    margin: auto;
}
.rotating-img.is-spinning {
    animation: rotation 1s infinite linear; 
}

@keyframes rotation {
    100%{ transform:rotatey(2060deg); }
}


.is-spinning.rotating-speed-level-middle {

}

.is-spinning.rotating-speed-level-low {

}

.surecoin-body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .sure-coin-header {
    background: rgba(255, 255,255, 0.05);
    height: 40px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5;
    margin-left: 0;
    margin-right: 0;
}
.casino-service-sure-coin {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 5px;
}

.coin-settings {
    background: rgba(255, 255,255, 0.07);
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sure-coin-amount-input-section {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 5px 10px;
}
@media screen and (min-width: 760px) {
  
}

@media screen and (max-width: 648px) {
    .surecoin-body {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

}