.rotating-images-wrapper {
    /* display: flex; */
    clear: both;
}

.rotating-image-container {
    position:relative;
    min-width: 200px;
    min-height: 200px;
}
.rotating-img {
    /* width: auto; */
    /* height: 200px; */
    /* position: absolute; */
    padding: 10%;
    max-width: 250px;
    margin: auto;
}
.rotating-img.is-spinning {
    animation: rotation 1s infinite linear; 
}

@keyframes rotation {
    100%{ transform:rotatey(2060deg); }
}


.is-spinning.rotating-speed-level-middle {

}

.is-spinning.rotating-speed-level-low {

}

.surecoin-body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5%; */
  }

  .sure-coin-header {
    background: rgba(255, 255,255, 0.05);
    height: 40px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5;
    margin-left: 0;
    margin-right: 0;
}
.casino-service-sure-coin {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 5px;
}

.coin-settings {
    background: rgba(255, 255,255, 0.07);
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sure-coin-amount-input-section {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 5px 10px;
}

.casino-service-sure-coin .pickBtn {
    background-color: #143ee4;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    /* width: 100px; */
}

.casino-service-sure-coin .pickBtn.selected-btn {
    background-color: #bb0243;
    color: white;
}
@media screen and (min-width: 760px) {
  
}

.css-rehya9-MuiSwitch-root {
    display: inline-flex;
    width: 87px !important;
    height: 40px !important;
    overflow: hidden;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    z-index: 0;
    vertical-align: middle;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    -webkit-transform: translateX(40px) !important;
    -moz-transform: translateX(40px) !important;
    -ms-transform: translateX(40px) !important;
    transform: translateX(40px) !important;
}

.css-17jyosd-MuiSwitch-thumb {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    background-color: currentColor;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
}

.diminish-mobile-row>* {
    padding-left: 0;
    padding-right: 0;
}

.surecoin-logo-img {
    width: 20px;
    display: inline-block;
    margin-right: 7px;
    color: #bb0243;
}
.win-state {
    padding: 20px;
}
.win-state.won {
    background: green;
}
.win-state.lost {
    background: #bb0243;
}
@media screen and (max-width: 648px) {
    .surecoin-body {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 5%; */
    }

    .surecoin-logo-img {

    }

    .user-amount-input {
        max-width: 100px !important;
    }

}