.rotating-images-wrapper {
    /* display: flex; */
    clear: both;
    position:relative;
}

.rotating-image-container {
    position:relative;
    min-width: 200px;
    min-height: 200px;
}
.rotating-img {
    /* width: auto; */
    /* height: 200px; */
    /* position: absolute; */
    padding: 5%;
    max-width: 250px;
    margin: auto;
}

.user-choice {
    color: #143ee4;
}

.user-choice.heads {
    color: #bb0243;
}
.rotating-img.is-spinning {
    animation: rotation 1s infinite linear; 
}

@keyframes rotation {
    100%{ transform:rotatey(2060deg); }
}


.is-spinning.rotating-speed-level-middle {

}

.is-spinning.rotating-speed-level-low {

}

.surecoin-body {
  }

  .sure-coin-header {
    background: rgba(255,255,255,0.06);
    height: 40px;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
}
.casino-service-sure-coin {
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px;
    position: relative;
}
.coin-settings {
    background: rgba(255,255,255,0.06);
    padding-left: 6px;
    margin-bottom: 7px;
    border-radius: 8px;
    color: #fff;
}
.launched-sure-coin{
    
}
.sure-coin-amount-input-section {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 5px 10px;
}

.casino-service-sure-coin .pickBtn {
    background-color: #143ee4;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    /* width: 100px; */
}

.casino-service-sure-coin .pickBtn.selected-btn {
    background-color: #bb0243;
    color: white;
}
@media screen and (min-width: 760px) {
  
}

.css-rehya9-MuiSwitch-root {
    display: inline-flex;
    width: 87px !important;
    height: 40px !important;
    overflow: hidden;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;
    z-index: 0;
    vertical-align: middle;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    -webkit-transform: translateX(40px) !important;
    -moz-transform: translateX(40px) !important;
    -ms-transform: translateX(40px) !important;
    transform: translateX(40px) !important;
}

.css-17jyosd-MuiSwitch-thumb {
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    background-color: currentColor;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
}

.diminish-mobile-row>* {
    padding-left: 0;
    padding-right: 0;
}

.surecoin-logo-img {
    width: 20px;
    display: inline-block;
    margin-right: 7px;
    color: #bb0243;
}
.win-state {
    padding: 10px;
}
.info-box.chosen-box {
    color: #FFB200;

}
.info-box {
    padding: 5px 15px;
    border: 1px solid ;
    margin-top: 3px;
    border-radius: 3px;
}
.bet-info {
    position: absolute;
    background: rgba(255,255,255, 0.061);
    top: -7px;
    left: -2px;
    padding: 5px 8px;
    border: 1px solid rgba(255,255,255, 0.051);
    border-radius: 2px;
    text-align: center;
}
.win-state.won {
    background: green;
}
.win-state.lost {
}

.btn-place-surecoin-bet {
    padding: 10px 15px;
    background: #FFB200 !important;
    color: #604300;
    font-size: 15px;
    font-weight: 700;
    min-width: 250px;
    text-shadow: 0px 1px 3px white;
    text-transform: uppercase;
    float: right;
    transition: all ease-in-out 0.3s;
}

.btn-place-surecoin-bet:hover {
    opacity: .7;
    transition: all ease-in-out 0.3s;
}

.time-left-text {
    
}

.btn-place-surecoin-bet.betplaced {
    background: red !important;
}
.casino-service-sure-coin .pickBtn {
    padding: 10px 15px;
}
@media screen and (max-width: 648px) {
    .surecoin-body {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 5%; */
    }

    .surecoin-logo-img {

    }

    .user-amount-input {
        max-width: 100px !important;
    }

}
.coin-count-down {
	position: absolute;
	color: yellow;
	padding: 10px;
	font-weight: 500;
	opacity: 0.9;
}

.coin-quick-stats {
    position: absolute;
    right: 10px;
    border: 1px solid rgba(255, 255,255, 0.0612);
    color: rgba(255,255,255, 0.7);
    padding: 5px;
    border-radius: 3px;
    line-height: 30px;
    background: rgba(255,255,255,0.031);
    font-size: 1.3rem;
    top: 3px;
}
.coin-taking-bets{
	position: absolute;
	bottom: 10px;
	border: 1px solid #fff;
	color: #fff;
	padding: 12px;
	border-radius: 10px;
    line-height: 23px;
    min-width: 25%;
}
