@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary {
  background: #24367e !important;
  color: #ffffff;
}

.paybillnumbers {
  /* background: #1c75bc4d!important; */
  /* background-position: -20% 20%; */
  /* background-size: 100%; */
  box-shadow: 0 0 6px 0 #00000080;
  /* margin-bottom: 16px; */
  margin-top: 15px;
  /* padding-bottom: 0; */
  /* position: relative; */
  border-radius: 4px !important;
  text-align: center;
  z-index: 1;
}
.paybillnumbers h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .8px;
  padding-bottom: 5px;
  padding-top: 15px;
  text-transform: uppercase;
}
.paybillnumbers ul li {
  align-items: center;
  background-color: #ffffff12;
  border-top: 1px solid #ffffff80;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5px;
  padding-top: 5px;
}
.paybillnumbers p {
  font-size: 12px;
  padding: 8px;
}
.paybillnumbers ul li span {
  font-weight: 700;
  padding: 6px 12px;
}

.bg-pink {
  background: rgba(231, 6, 84, 0.958);
}

.betslip-sport-icon {
  width: 30px;
  display: inline-block;
  margin: -10px -5px -5px;
}

.bet-option {
  /* font-weight: 600; */
}

.home-tabs {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  text-align: center;
  transition: all ease-in 1s;
}
.home-tab-active {
  border-bottom-color: rgba(231, 6, 84, 0.958);
  color: rgba(231, 6, 84, 0.958);
}

.home-tabs:hover {
  border-bottom-color: rgba(231, 6, 84, 0.958);
  color: rgba(231, 6, 84, 0.958);
  /* opacity: 0.; */
  transition: all ease-in 1s;
}

.btn-transparent-selector {
  font-weight: bold;
  font-size: 15px;

}

.homepage {
  background-color: #ffffff;
}

.page-title {
  border-bottom: 1px solid #ddd;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
}

h5, h4, h3, h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #504d4d;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.pro-sidebar {
  color: #adadad;
  height: 100%;
  width: 100% !important;
  max-width: 240px !important;
  min-width: 240px !important;
  text-align: left;
  transition: width, left, right, 0.3s;
  position: relative;
  z-index: 1009;
}

.secondary-text {
  color: #FFB200;
}

.tertiary-text {

}

.user-menu-col {
  width: auto;
}

.primary-text {
  color: #444444;
}

.ps-sidebar-container {
  background: #ffffff !important;
  color: #666666 !important;
}

.css-1wvake5, .ps-sidebar-root {
  position: relative;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #efefef;
  transition: width,left,right,300ms;
  width: auto !important;
  min-width: auto !important;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.41);
  background: #fff;
}

.ps-menu-button {
  border-bottom: 1px solid #dddddd;
}

.ps-menu-button:hover, .ps-menu-button:active, .ps-menu-button:focus {
  background-color: #ffffff !important;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #dddddd !important;

}
.ps-menu-button {
  border-bottom: 1px solid #dddddd !important;
  display: flex;
  align-items: center;
  height: 37px !important;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 5px !important;
  border-bottom: 1px solid #dddddd !important;

}

.ps-submenu-content {
  padding: 0;
  width: 100%;
  border-right: 1px solid #ccc;
  background: #f5f5f5 !important;
  margin: 0px auto 0;
}

.pc .navbar-nav > li > a {
  margin-right: 0;
  margin-left: 0;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.space-icons {
  padding-right: 5px;
}

.min-scroll-table-content {
  max-height: 400px !important;
  overflow-y: scroll;
  display: block;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  z-index: 9999;
}

.mobile-betslip-link {

}

.top-nav .slip-counter {
  background: #bc1b56;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 0 2px;
  display: inline-block;
  margin: -5px -1px -5px;
  border-radius: 100px;
  width: 20px;
  position: absolute;
  top: 0px;
  right: 0;
}

/* custom mobile horizontal scrollbar */

@media screen and (max-width:768px){
  .mobile-custom-scrollbar {
    scrollbar-width: none !important;
    scrollbar-color: transparent transparent;
}


.main-tabs.reduced-mobile-text {
  font-size: 11px;
}

.pc .navbar-nav > li > a {
  margin-right: 0;
  margin-left: 0;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
  font-weight: bold;
}

.main-tabs-submenu {
  text-wrap: nowrap;
  display: inline-block;
  margin: 0px;
  width: auto;
}
.navbar-nav > li > a {
  line-height: 12px;
}

.hidden-icons .space-icons {
  display: none;
}
.header-menu li {
  box-shadow: none !important;
  border-radius: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  border-bottom: 3px solid transparent;
  margin-left: 10px;
}
}

.mobile-second-nav-icon {
  width: 40px;
  height: 20px;
}

.third-mobile-nav {
  padding: 5px 10px;
  background: #ffffffb8;
  border-bottom: 1px solid #fff;
}

.mobile-categories-item {
  margin-right: 6px;
}